* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*POUR STYLISE L'EN TETE*/

header {
    width: 100%;
    padding:  20px 40px;
    position: fixed;
}

header.sticky {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    color: brown;
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

header nav .logo h1 {
    font-size: 1.5em;
    font-weight: 700;
}

header nav .nav-liste {
    background: transparent;
}

header nav .nav-liste ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header nav .nav-liste ul a {
    text-decoration: none;
    color: brown;
    font-size: 1.2em;
    font-weight: 700;
}

header nav .nav-liste ul li a:hover {
    border-bottom: 2px solid brown;
}

nav .menu-hamburger {
    background-color: rgba(128, 128, 128, 0.63);
    display: none;
}

nav .menu-hamburger img {
    width: 1.5em;
}

/*POUR STYLISE LE CORPS*/

.presentation {
    width: 100%;
    height: 70vh;
    background: url(./img/empire.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px;
}

.presentation .titre {
    display: block;
}

.presentation .titre h1 {
    padding: 30px 0px;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
}

.presentation .titre p {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}

.apropos {
    width: 100%;
    padding: 100px 100px 0px 100px;
}
.apropos .bloque1 {
    padding: 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apropos .bloque1 .texte {
    width: 50%;
}

.apropos .bloque1 .texte h2 {
    margin: 30px 0px;
}

.apropos .bloque1 .texte p {
    font-size: 1em;
    margin: 20px 0px;
    text-align: justify;
}

.apropos .bloque1 .texte p span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.apropos .bloque1 .image1 {
    width: 50%;
}

.apropos .bloque1 .image1 img {
    width: 100%;
    height: 350px;
}


.empire {
    width: 100%;
    padding: 0px 160px;
}

.empire .sujet {
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.empire .sujet h2 {
    margin-bottom: 30px;
}

.empire .sujet .ghana {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.empire .sujet .ghana img {
    width: 600px;
    height: 400Px;
}

.empire .sujet p {
    margin-bottom: 20px;
    text-align: justify;
}

.empire .sujet .site {
    display: flex;
    justify-content: right;
}

.empire .sujet .site a {
    text-decoration: none;
    color: brown;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 1.5em;
}

/*POUR STYLISER LE PIED*/

footer {
    width: 100%;
}

footer .pied {
    width: 100%;
    height: 20vh;
    background-color: rgba(220, 220, 220, 0.293);
}

footer .pied .reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .pied .reseaux .sociaux {
    margin: 20px;
}

footer .pied .reseaux .sociaux h1 {
    font-size: 2em;
    font-weight: 400;
}

footer .pied .reseaux .reseau ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .pied .reseaux .reseau ul a {
    text-decoration: none;
}

footer .pied .reseaux .reseau ul a img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}


footer .copyright {
    width: 100%;
    height: 3.5vh;
    background: rgb(180, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer .copyright p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

footer .copyright p a:hover {
    color: rgb(242, 197, 197);
}

/*POUR STYLISER L'EN TETE*/

@media screen and (max-width: 400px) {
    header {
        padding: 0px;
    }

    header.sticky {
        padding: 20px;
    }

    header nav {
        padding: 0px;
    }

    header nav .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    header nav .logo h1 {
        font-size: 1em;
        letter-spacing: -1px;
    }

    header nav .logo img {
        width: 1.5em;
        height: 1.5em;
    }

    header nav .nav-liste {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.3s ease;
    }

    nav .nav-liste.mobile-menu {
        margin-left: 0;
    }

    header nav .nav-liste ul {
        flex-direction: column;
        gap: 80px;
    }

    header nav .nav-liste ul a {
        font-size: 1.7em;
    }

    nav .menu-hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

}


/*POUR STYLISER LE CORP*/

@media screen and (max-width: 400px) {
    .presentation {
        height: 50vh;
        padding: 20px;
    }

    .presentation .titre h1 {
        font-size: 2em;
    }

    .presentation .titre p {
        font-size: 0.7em;
        font-size: 1em;
    }

    .apropos {
        padding: 20px 20px 0px 20px;
    }

    .apropos .bloque1 {
        flex-direction: column;
        padding: 10px 0px;
    }

    .apropos .bloque1 .texte {
        width: 100%;
    }

    .apropos .bloque1 .texte h2 {
        margin: 15px 0px;
    }

    .apropos .bloque1 .texte p {
        font-size: 0.7em;
        margin: 10px 0px;
    }

    .apropos .bloque1 .image1 {
        width: 100%;
    }

    .apropos .bloque1 .image1 img {
        height: 200px;
    }

    .empire {
        padding: 0px 20px;
    }

    .empire .sujet {
        padding: 10px 0px;
    }

    .empire .sujet h2 {
        margin-bottom: 15Px;
    }

    .empire .sujet .ghana img {
        width: 100%;
        height: 200Px;
    }

    .empire .sujet p {
        font-size: 0.7em;
        margin-bottom: 10px;
    }

    .empire .sujet .site a {
        padding: 5px;
        font-size: 0.6em;
        font-weight: 900;
    }

}

/*POUR STYLISER LE PIED*/

@media screen and (max-width: 400px) {
    
    footer {
        height: 3.5%;
    }

    footer p {
        font-size: 0.8em;
        letter-spacing: -1px;
    }

}