* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*POUR STYLISE L'EN TETE*/

header {
    width: 100%;
    padding:  20px 40px;
    position: fixed;
}

header.sticky {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    color: brown;
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

header nav .logo h1 {
    font-size: 1.5em;
    font-weight: 700;
}

header nav .nav-liste {
    background: transparent;
}

header nav .nav-liste ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header nav .nav-liste ul a {
    text-decoration: none;
    color: brown;
    font-size: 1.2em;
    font-weight: 700;
}

header nav .nav-liste ul a span {
    color: gray;
}

header nav .nav-liste ul li a:hover {
    color: brown;
    border-bottom: 2px solid brown;
}

nav .menu-hamburger {
    background-color: rgba(128, 128, 128, 0.63);
    display: none;
}

nav .menu-hamburger img {
    width: 1.5em;
}


/*POUR STYLISE LE CORPS*/

.presentation {
    width: 100%;
    height: 50vh;
    background: url(./img/accueil-hist.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px;
}

.presentation .titre {
    display: block;
}

.presentation .titre h1 {
    padding: 30px 0px;
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.presentation .titre p {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}

.apropos {
    width: 100%;
    padding: 100px 100px 0 100px;
}
.apropos .bloque1 {
    padding: 20px 0px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apropos .bloque1 .image1 {
    width: 50%;
}

.apropos .bloque1 .image1 img {
    width: 100%;
    height: 350px;
}

.apropos .bloque1 .texte {
    width: 50%;
}

.apropos .bloque1 .texte h2 {
    margin: 30px 0px;
}

.apropos .bloque1 .texte p {
    font-size: 1em;
    margin: 20px 0px;
    text-align: justify;
}

.apropos .bloque2 {
    padding: 20px 0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apropos .bloque2 .image2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.apropos .bloque2 .image2 img {
    width: 60%;
    height: 400px;
}



.apropos .bloque2 .texte {
    width: 50%;
}

.apropos .bloque2 .texte h2 {
    margin: 30px 0px;
}

.apropos .bloque2 .texte p {
    font-size: 1em;
    margin: 20px 0px;
    text-align: justify;
}

.info {
    display: block;
    width: 100%;
    padding: 100px;
}

.info .bloque {
    padding: 30px;
    background-color: rgba(226, 189, 189, 0.973);
    border-radius: 1em;
}

.info .bloque h2 {
    margin-bottom: 30px;
    font-size: 1.5em;
    letter-spacing: -1px;
}

.info .bloque p {
    margin-bottom: 10px;
    text-align: justify;
}

.volume {
    display: block;
    width: 100%;
    padding: 0px 100px;
}

.volume .livre {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.volume .livre .image {
    width: 20%;
    display: flex;
    justify-content: center;
}

.volume .livre .image img {
    padding: 10px 15px;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.912);
    border-radius: 1em;
}

.volume .livre .texte {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.volume .livre .texte h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.volume .livre .texte p {
    margin-bottom: 15px;
    text-align: justify;
}

.volume .livre .texte p span {
    font-weight: bold;
}

.volume .livre .enligne {
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.volume .livre .enligne a {
    text-decoration: none;
    color: brown;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 1.5em;
    margin-top: 90%;
}

/*POUR STYLISER LE PIED*/

footer {
    width: 100%;
}

footer .pied {
    width: 100%;
    height: 20vh;
    background-color: rgba(220, 220, 220, 0.293);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .pied .reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .pied .reseaux .sociaux {
    margin: 20px;
}

footer .pied .reseaux .sociaux h1 {
    font-size: 2em;
    font-weight: 400;
}

footer .pied .reseaux .reseau ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .pied .reseaux .reseau ul a {
    text-decoration: none;
}

footer .pied .reseaux .reseau ul a img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}


footer .copyright {
    width: 100%;
    height: 3.5vh;
    background: rgb(180, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer .copyright p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

footer .copyright p a:hover {
    color: rgb(242, 197, 197);
}
/* POUR LE CORP */

@media screen and (max-width: 500px) {
    header {
        padding: 0px;
    }

    header.sticky {
        padding: 20px;
    }

    header nav {
        padding: 0px;
    }

    header nav .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    header nav .logo h1 {
        font-size: 1em;
        letter-spacing: -1px;
    }

    header nav .logo img {
        width: 1.5em;
        height: 1.5em;
    }

    header nav .nav-liste {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.3s ease;
    }

    nav .nav-liste.mobile-menu {
        margin-left: 0;
    }

    header nav .nav-liste ul {
        flex-direction: column;
        gap: 80px;
    }

    header nav .nav-liste ul a {
        font-size: 1.7em;
    }

    nav .menu-hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

}


/*POUR STYLISER LE CORP*/

@media screen and (max-width: 500px) {

    .presentation .titre h1 {
        font-size: 2.5em;
        padding: 15px 0px;
    }

    .presentation .titre p {
        font-size: 1em;
        font-weight: 900;
    }

    .apropos {
        padding: 50px 20px 0 20px;
    }

    .apropos .bloque1 {
        padding: 5px 0px;
        flex-direction: column;
    }

    .apropos .bloque1 .image1 {
        width: 100%;
    }

    .apropos .bloque1 .image1 img {
        height: 250px;
    }

    .apropos .bloque1 .texte {
        width: 100%;
    }

    .apropos .bloque1 .texte h2 {
        font-size: 1em;
    }

    .apropos .bloque1 .texte p {
        font-size: 0.7em;
        margin: 10px 0px;
    }

    .apropos .bloque2 {
        font-size: 1em;
        padding: 5px 0px;
        flex-direction: column;
    }

    .apropos .bloque2 .image2 {
        width: 100%;
        display: none;
    }

    .apropos .bloque2 .image2 img {
        width: 100%;
        height: 100%;
    }

    .apropos .bloque2 .texte {
        width: 100%;
    }

    .apropos .bloque2 .texte h2 {
        margin: 15px 0px;
    }

    .apropos .bloque2 .texte p {
        font-size: 0.7em;
        margin: 10px 0px;
    }

    .info {
        padding: 20px;
    }

    .info .bloque {
        padding: 15px;
    }

    .info .bloque h2 {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .info .bloque p {
        font-size: 0.7em;
        margin-bottom: 5px;
    }

    .volume {
        padding: 0px 20px;
    }

    .volume .livre {
        flex-direction: column;
        gap: 15px;
    }

    .volume .livre .image {
        width: 100%;
        justify-content: left;
    }

    .volume .livre .texte {
        width: 100%;
        justify-content: left;
    }

    .volume .livre .texte h3 {
        font-size: 1em;
        margin-bottom: 8px;
    }

    .volume .livre .texte p {
        font-size: 0.7em;
        margin-bottom: 8px;
    }

    .volume .livre .image img {
        width: 180px;
    }

    .volume .livre .enligne {
        width: 100%;
        justify-content: left;
    }

    .volume .livre .enligne a {
        font-size: 0.7em;
        margin-top: 0px;
    }

}


/*POUR STYLISER LE PIED*/

@media screen and (max-width: 500px) {

    footer .pied {
        height: 10vh;
    }

    footer .pied .reseaux .sociaux {
        margin: 10px;
    }

    footer .pied .reseaux .sociaux h1 {
        font-size: 1em;
    }

    footer .pied .reseaux .reseau ul {
        gap: 20px;
    }

    footer .pied .reseaux .reseau ul a img {
        width: 2em;
        height: 2em;
    }

    footer .copyright {
        height: 2vh;
    }

    footer .copyright p {
        font-size: 0.8em;
        letter-spacing: -1px;
    }

}

