* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}


/*POUR STYLISE L'EN TETE*/

header {
    width: 100%;
    padding:  20px 40px;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.sticky {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: black;
}

header.sticky .navbarre ul li a {
    color: black;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav button {
    display: none;
    background: transparent;
    font-size: 2em;
    border: none;
    color: black;
}

header nav .logo {
    color: black;
    display: flex;
    align-items: center;
}

header nav .logo h1 {
    font-size: 1.5em;
    font-weight: 700;
}

header nav .logo img {
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

header nav .navbarre {
    background: transparent;
    border-radius: 2em;
}

header nav .navbarre ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header nav .navbarre ul li {
    display: block;
}

header nav .navbarre ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}


header nav .navbarre ul li a:hover {
    color: brown;
    border-bottom: 2px solid brown;
}

#navbarre {
    display:none;
    flex-direction: row;
    align-items: start;
    background-color:rgba(0, 0, 1, 0.562);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding: 10px 20px;
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.menucacher {
    background-color: white;
    height: 100%;
    padding: 10px;
    width: 300px;
    padding-top: 0;
    font-size: 18px;
}

.liste {
    list-style: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 35px;
    gap: 20px;
}

.liste a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
}

.liste a:hover {
    color: brown;
    border-bottom: 1.2px solid brown;
}

.suite .listes {
    margin-top: 20px;
    gap: 20px;
    border-bottom: none;
}

.suite .listes .liste a {
    text-decoration: none;
    color: brown;
    font-size: 1em;
    font-weight: 900;
}

.suite .listes .liste a:hover {
    color: gray;
    border-bottom: 1.2px solid gray;
}

/*POUR STYLISE LE MAIN*/

main {
    width: 100%;
}

.accueil {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
}

.accueil h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 20px;
}

.accueil p {
    font-size: 1.5em;
    text-align: center;
}

.proposition {
    width: 100%;
    padding: 10px 200px;
}

.proposition .tableau {
    width: 100%;
    height: 550px;
}

.proposition .tableau img {
    width: 100%;
    height: 100%;
}

.musee {
    width: 100%;
    padding: 50px;
}

.musee .afrique {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

.musee .afrique .pays {
    width: 33%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 1em;
}

.musee .afrique .pays .nom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.musee .afrique .pays .nom h2 {
    font-size: 2.5em;
    font-weight: 500;
}

.musee .afrique .pays .nom img {
    width: 2.6em;
    height: 1.6em;
}

.musee .afrique .pays p {
    font-size: 1.1em;
    font-weight: 500;
    padding: 40px;
    text-align: center;
}

.musee .afrique .pays a {
    text-decoration: none;
    color: black;
    border-bottom: 1.5px solid black;
}

.musee .afrique .pays a:hover {
    color: brown;
    border-bottom: 1.5px solid brown;
}


/*POUR STYLISER LE PIED*/
footer {
    width: 100%;
    height: 3.5vh;
    background: rgb(180, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

footer p a:hover {
    color: rgb(242, 197, 197);
}


/*POUR STYLISER L'EN TETE*/

@media screen and (max-width: 400px) {
    header {
        padding: 10px;
    }

    header nav {
        padding: 0px;
    }

    header nav button {
        display: block;
        font-size: 1.5em;
    }

    header nav .logo h1 {
        font-size: 1em;
        letter-spacing: -1px;
    }

    header nav .logo img {
        width: 1.5em;
        height: 1.5em;
    }

    header nav .navbarre {
        display: none;
    }

    .menucacher {
        width: 200px;
    }

    .listes {
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .liste a {
        font-size: 1em;
        font-weight: 500;
    }

    .suite .listes .liste a {
        font-size: 1em;
    }

}

/* POUR LE CORPS */

@media screen and (max-width: 400px) {

    .accueil {
        height: 30vh;
        padding: 80px 50px;
    }

    .accueil h1 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 40px;
    }

    .accueil p {
        font-size: 0.9em;
    }

    .proposition {
        padding: 5px;
    }

    .proposition .tableau {
        height: 25vh;
    }

    .musee {
        padding: 10px 20px;
    }

    .musee .afrique {
        gap: 20px;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .musee .afrique .pays {
        width: 100%;
        height: 35vh;
    }

    .musee .afrique .pays .nom {
        gap: 5px;
    }

    .musee .afrique .pays .nom h2 {
        font-size: 1.3em;
    }

    .musee .afrique .pays .nom img {
        width: 1.3em;
        height: 0.8em;
    }

    .musee .afrique .pays p {
        font-size: 0.78em;
        padding: 20px;
    }

    .musee .afrique .pays a {
        font-size: 0.8em;
        border-bottom: 1px solid black;
    }
    
}






/*POUR STYLISER LE PIED*/

@media screen and (max-width: 400px) {
    
    footer {
        height: 3.5%;
    }

    footer p {
        font-size: 0.8em;
        letter-spacing: -1px;
    }

}