* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}


/*POUR STYLISE L'EN TETE*/

header {
    width: 100%;
    padding:  20px 40px;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.sticky {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: black;
}

header.sticky .navbarre ul li a {
    color: black;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav button {
    display: none;
    background: transparent;
    font-size: 2em;
    border: none;
    color: black;
}

header nav .logo {
    color: black;
    display: flex;
    align-items: center;
}

header nav .logo h1 {
    font-size: 1.5em;
    font-weight: 700;
}

header nav .logo img {
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

header nav .navbarre {
    background: transparent;
    border-radius: 2em;
}

header nav .navbarre ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header nav .navbarre ul li {
    display: block;
}

header nav .navbarre ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}


header nav .navbarre ul li a:hover {
    color: brown;
    border-bottom: 2px solid brown;
}

#navbarre {
    display:none;
    flex-direction: row;
    align-items: start;
    background-color:rgba(0, 0, 1, 0.562);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding: 10px 20px;
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.menucacher {
    background-color: white;
    height: 100%;
    padding: 10px;
    width: 300px;
    padding-top: 0;
    font-size: 18px;
}

.liste {
    list-style: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 35px;
    gap: 20px;
}

.liste a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
}

.liste a:hover {
    color: brown;
    border-bottom: 1.2px solid brown;
}

.suite .listes {
    margin-top: 20px;
    gap: 20px;
    border-bottom: none;
}

.suite .listes .liste a {
    text-decoration: none;
    color: brown;
    font-size: 1em;
    font-weight: 900;
}

.suite .listes .liste a:hover {
    color: gray;
    border-bottom: 1.2px solid gray;
}

/*POUR STYLISE LE MAIN*/
main{
    width: 100%;
    padding: 80px 350px 0px 350px;
}

.entre {
    width: 100%;
    display: block;
}

.entre .page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.entre .page .titre {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid black;
} 

.entre .page .titre h1 {
    color: brown;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entre .page .hauteur {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.entre .page .hauteur img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    font-size: 1.2rem;
}

.entre .page .hauteur .nom {
    max-width: 200px;
}

.entre .page .hauteur .nom h4 {
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px 0px;
}

.entre .page .hauteur .nom p {
    color: gray;
    font-size: 0.7em;
    font-weight: bold;
    text-align: justify;
}

.entre .page .developpement {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.entre .page .developpement .texte p {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.entre .page .developpement .image {
    width: 100%;
    padding: 10px 0px;
}

.entre .page .developpement .image img {
    width: 100%;
    height: 350px;
}

.entre .page .bloc {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.entre .page .bloc .theme {
    width: 100%;
}

.entre .page .bloc .theme h2 {
    color: rgb(98, 45, 6);
    font-size: 2em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entre .page .bloc .liste {
    width: 100%;
}

.entre .page .bloc .liste ul {
    list-style: none;
    flex-direction: column;
}

.entre .page .bloc .liste ul li {
    padding: 10px 0px;
}

.entre .page .bloc .liste ul li h3 {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entre .page .bloc .liste ul li h3 span {
    color: brown;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.entre .page .bloc .liste ul li p {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: justify;
}

.entre .page .bloc .art {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.entre .page .bloc .art .photo {
    width: 100%;
}

.entre .page .bloc .art .photo img {
    width: 350px;
    height: 500px;
}

.entre .page .bloc .liste ul li p  {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: justify;
}

.entre .page .bloc .liste ul li p span {
    margin: 5px;
}

.entre .page .bloc .liste ul li p span a {
    color: rgb(91, 5, 196);
    text-decoration: none;
    font-weight: 450;
}

.entre .page .bloc .liste ul li p span a:hover {
    border-bottom: 1.5px solid rgb(91, 5, 196);
}

.entre .page .bloc .deve {
    display: block;
}

.entre .page .bloc .deve p {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: justify;
}


/*POUR STYLISER LE PIED*/
footer {
    width: 100%;
    height: 3.5vh;
    background: rgb(180, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

footer p a:hover {
    color: rgb(242, 197, 197);
}


/*POUR STYLISER L'EN TETE*/

@media screen and (max-width: 400px) {
    header {
        padding: 10px;
    }

    header nav {
        padding: 0px;
    }

    header nav button {
        display: block;
        font-size: 1.5em;
    }

    header nav .logo h1 {
        font-size: 1em;
        letter-spacing: -1px;
    }

    header nav .logo img {
        width: 1.5em;
        height: 1.5em;
    }

    header nav .navbarre {
        display: none;
    }

    .menucacher {
        width: 200px;
    }

    .listes {
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .liste a {
        font-size: 1em;
        font-weight: 500;
    }

    .suite .listes .liste a {
        font-size: 1em;
    }

}

@media screen and (max-width: 400px) {
    
    main {
        width: 400px;
        padding: 50px 40px 0px 40px;
    }

    .entre .page .titre h1 {
        margin-top: -10px;
        font-size: 1em;
    }

    .entre .page .hauteur img {
        width: 2em;
        height: 2em;
    }

    .entre .page .hauteur .nom h4 {
        font-size: 0.6em;
    }

    .entre .page .hauteur .nom p {
        font-weight: 0.5;
    }

    .entre .page .developpement .texte p {
        font-size: 0.7em;
    }

    .entre .page .developpement .image img {
        height: 180px;
    }

    .entre .page .bloc .theme h2 {
        font-size: 1em;
    }

    .entre .page .bloc .liste ul li {
        margin-bottom: -10px;
    }

    .entre .page .bloc .liste ul li h3 {
        font-size: 0.9em;
    }

    .entre .page .bloc .liste ul li h3 span {
        font-size: 1.1em;
    }

    .entre .page .bloc .liste ul li p {
        font-size: 0.7em;
    }

    .entre .page .bloc .art .photo img {
        width: 150px;
        height: 300px;
    }

    .entre .page .bloc .deve p {
        font-size: 0.7em;
    }

}

/*POUR STYLISER LE PIED*/

@media screen and (max-width: 400px) {
    
    footer {
        height: 3.5%;
    }

    footer p {
        font-size: 0.8em;
        letter-spacing: -1px;
    }

}