* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*POUR STYLISE L'EN TETE*/

header {
    width: 100%;
    padding:  10px 40px;
    position: fixed;
}

header.sticky {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo {
    color: brown;
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 2em;
    height: 2em;
    border-radius: 3em;
}

header nav .logo h1 {
    font-size: 1.5em;
    font-weight: 700;
}

header nav .nav-liste {
    background: transparent;
}

header nav .nav-liste ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header nav .nav-liste ul a {
    text-decoration: none;
    color: brown;
    font-size: 1.2em;
    font-weight: 700;
}

header nav .nav-liste ul li a:hover {
    border-bottom: 2px solid brown;
}

nav .menu-hamburger {
    background-color: rgba(128, 128, 128, 0.63);
    display: none;
}

nav .menu-hamburger img {
    width: 1.5em;
}

/*POUR STYLISE LE CORPS*/
#accueil {
    max-width: 100%;
    height: 100vh;
    padding: 150px 50px;
    flex-direction: column;
    background: url(./img/img-accueil3.jpg);
    background-size: cover;
    background-position: center;
}

#accueil .titre {
    width: 100%;
    color: white;
}

#accueil .titre h1 {
    font-size: 5em;
    font-weight: 900;
    letter-spacing: 3px;
}

#accueil .presentation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

#accueil .presentation .collection {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed black;
    padding: 30px 0px;
}

#accueil .presentation .collection img {
    width: 400px;
    height: 200px;
}

#accueil .presentation .collection h2 {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#accueil .presentation .collection a {
    padding: 5px;
    color: brown;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 2px solid brown;
}

#accueil .presentation .collection a:hover {
    color: white;
    background: rgb(180, 79, 79);
    border-bottom: none;
}


/*POUR STYLISER LE PIED*/

footer {
    width: 100%;
}

footer .pied {
    width: 100%;
    height: 20vh;
    background-color: rgba(220, 220, 220, 0.293);
}

footer .pied .reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .pied .reseaux .sociaux {
    margin: 20px;
}

footer .pied .reseaux .sociaux h1 {
    font-size: 2em;
    font-weight: 400;
}

footer .pied .reseaux .reseau ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .pied .reseaux .reseau ul a {
    text-decoration: none;
}

footer .pied .reseaux .reseau ul a img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}


footer .copyright {
    width: 100%;
    height: 3.5vh;
    background: rgb(180, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer .copyright p a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}

footer .copyright p a:hover {
    color: rgb(242, 197, 197);
}

/*POUR STYLISER L'EN TETE*/

@media screen and (max-width: 500px) {
    header {
        padding: 0px;
    }

    header.sticky {
        padding: 20px;
    }

    header nav {
        padding: 0px;
    }

    header nav .logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    header nav .logo h1 {
        font-size: 1em;
        letter-spacing: -1px;
    }

    header nav .logo img {
        width: 1.5em;
        height: 1.5em;
    }

    header nav .nav-liste {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.3s ease;
    }

    nav .nav-liste.mobile-menu {
        margin-left: 0;
    }

    header nav .nav-liste ul {
        flex-direction: column;
        gap: 80px;
    }

    header nav .nav-liste ul a {
        font-size: 1.7em;
    }

    nav .menu-hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

}


/*POUR STYLISER LE CORP*/

@media screen and (max-width: 500px) {

    #accueil {
        height: 96.5%;
        padding: 60px 20px;
    }

    #accueil .titre h1 {
        font-size: 2.3em;
    }

    #accueil .presentation {
        flex-direction: column;
        margin-top: 50px;
    }

    #accueil .presentation .collection {
        width: 300px;
        padding: 20px;
    }
    
    #accueil .presentation .collection h2 {
        letter-spacing: -1px;
    }

    #accueil .presentation .collection a {
        letter-spacing: -1px;
    }

    #accueil .presentation .collection img {
        width: 250px;
        height: 130px;
    }

    header .musee a:hover {
        letter-spacing: none;
        background: rgb(180, 79, 79);
    }

}


/*POUR STYLISER LE PIED*/

@media screen and (max-width: 500px) {

    footer .pied {
        height: 10vh;
    }

    footer .pied .reseaux .sociaux {
        margin: 10px;
    }

    footer .pied .reseaux .sociaux h1 {
        font-size: 1em;
    }

    footer .pied .reseaux .reseau ul {
        gap: 20px;
    }

    footer .pied .reseaux .reseau ul a img {
        width: 2em;
        height: 2em;
    }

    footer .copyright {
        height: 2vh;
    }

    footer .copyright p {
        font-size: 0.8em;
        letter-spacing: -1px;
    }

}

